# Gradle files
entrega_introducao/build
entrega_introducao/.gradle
entrega_introducao/bin
entrega_introducao/gradle
entrega_introducao/.settings


# Package Files #
entrega_introducao/.classpath
entrega_introducao/.project
